.jp-ENKIWidget {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.jp-ENKICartoon {
    margin: auto;
}

.jp-ENKIAttribution {
    margin: 20px auto;
}

.jp-ENKIicon {
	background-size: 100%;
	width: 52px;
	height: 52px;
	background-image: url(enki_logo_120.png);
}

#enki-splash {
  z-index: 10;
  position: absolute;
  overflow: auto; 
  width: 100%;
  height: 100%;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.splash-fade {
  animation: .5s fade-out forwards;
}

#container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
	background-image: url('enki_big.png');
  	background-repeat: no-repeat;
    float: left;
    width: 247px;
    height: 320px;
    margin: 50px;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

article {
    margin-left: 300px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

#enki-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #4CAF50; /* Green */
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.jp-ENKI-button {
  display: inline-block;
  height: 60px;
  width: 200px;
  background-color: var(--jp-layout-color1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border: 1px solid var(--jp-layout-color1);
}

.jp-ENKI-button:focus {
  box-shadow: var(--jp-ENKI-box-shadow);
  border: 1px solid var(--jp-ENKI-border-color);
}

.jp-ENKI-button.jp-mod-pressed {
  background-color: var(--jp-layout-color3);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5);
}

.jp-ENKI-button:enabled:hover {
  border: 1px solid var(--jp-border-color1);
  background-color: var(--jp-layout-color1);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.24);

}

.jp-ENKI-button:active {
  border: 1px solid var(--jp-ENKI-border-color);
  background-color: var(--jp-ENKI-active-background);
  box-shadow: var(--jp-ENKI-box-shadow);
}

.jp-ENKI-button:disabled {
  opacity: 0.4;
}

.jp-ENKI-button.p-mod-toggled {
  background-color: var(--jp-ENKI-active-background);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5);
}
